#Options +FollowSymLinks
#RewriteEngine On
#RewriteRule redmotor/(.*)/ redmotor/index.php?do=$1 [NC, L, QSA]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ redmotor/index.php
#RewriteRule index/do/(.*)/ index.php?do=$1
#RewriteRule index/do/(.*) index.php?do=$1 [NC]